version: '3.8'

services:
  node1:
    container_name: tinykv-node1
    build: .
    command: ./build/src/tinykv_server 50051
    ports:
      - "50051:50051"
    networks:
      - tinykv-net

  node2:
    container_name: tinykv-node2
    build: .
    command: ./build/src/tinykv_server 50052
    ports:
      - "50052:50052"
    networks:
      - tinykv-net

  node3:
    container_name: tinykv-node3
    build: .
    command: ./build/src/tinykv_server 50053
    ports:
      - "50053:50053"
    networks:
      - tinykv-net

  node4:
    container_name: tinykv-node4
    build: .
    command: ./build/src/tinykv_server 50054
    ports:
      - "50054:50054"
    networks:
      - tinykv-net

  node5:
    container_name: tinykv-node5
    build: .
    command: ./build/src/tinykv_server 50055
    ports:
      - "50055:50055"
    networks:
      - tinykv-net

networks:
  tinykv-net:
    driver: bridge
    name: tinykv-net
